footer {
    text-align: center;
    background-color: #f0deda;
    align-items: center; }

    .icono-m {
        width: 45px;
    }
    
    
    .icono-i{
        width: 50px;
    }
    
    .icono-s{
        width: 33px;
    }

