$color-fondo: #f0cbc3;

* {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;   
}

@import "nav";

body {
    background-color: $color-fondo;
    height: 100%;
}

.redes {

    height: 130px;

}

@import "footer";

.sociales li{
    display: inline-block;
    
    a{
        padding: 10px;

}

}

.logo{
    width: 150px;
}

.icono {
    width: 45px;

}

h3{
    font-size: 60px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-align: center;
}

.container {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h4{
    font-size: 40px;
    margin-top: 50px;
}

h5{
    font-size: 30px;
}

form{
    padding-bottom: 10px;
}