$color-fondo: #f0cbc3;

* {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;   
}

@import "nav";

body {
    background-color: $color-fondo;
    height: 100%;
}

.redes {

    height: 130px;

}

@import "footer";

.sociales li{
    display: inline-block;
    
    a{
        padding: 10px;

}

}

.logo{
    width: 150px;
}

h3{
    
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 60px;
}

p{
    
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
   
}

.cursos{
    width: 300px;
    margin: 80px;
}